@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enterprise Programming Home Assignment</h1>
    <p>It is ment to simulate the airlane website, where you can book a seat in a plane from a chosen flight</p>
    <p>In the "List Flights" page you can choose to book the flight, or see its details page in which you can see which seet is aready taken</p>
    <p>You are able to book a flight without being logged it. Just remeber to input your data. That way I can keep track of which ticket belongs to who, and if you'd like to register in the future  ---you will be able to see past tikcets!---</p>
    <br/ >

    <p>If the "List Flights" page is empty, it means that all of the flights prepared by me have already departed. In that case please wait for me to update that list</p>
    
    
    <p>After booking a flight you can see all of your tickets in the "My tickets page"</p>
    <p>There you can cancel you ticket, which will free the seat in the corresponding flight. Be aware, this cannot be undone</p>
    <p>After canceling your ticket, you are able to remove it from your "My ticket" history</p>
</div>
